.register-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
 background-color: #f0f2f5;
  font-family: 'Arial', sans-serif;
  padding: 20px;

}

.register-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* .register-image img {
  
  max-width: 400px;
  height: auto;
  border-radius: 10px;
} */
.side-image {
  /* width: 100%; */
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.register-form {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.guest-btn {
  margin-top: 10px;
  background-color: #28a745;
}

.guest-btn:hover {
  background-color: #218838;
}

.primary-btn {
  background-color: #007bff;
  color: #fff;
}

/* .guest-btn {

  background-color: #28a745;
  
} */

.toggle-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-left: 5px;
}

.toggle-btn:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  margin-top: 10px;
}
